REACT_APP_API_URL=/api
REACT_APP_EXAMPLE_QUERIES='["What vital data are available on this document?","Summarize the key points in the knowledge base","How does the information in the documents relate to each other?","Who are the persons involved?","When were the events described in the documents?"]'
